<div class="site-header clearfix" [ngClass]="{'home-header':homePageComponent}">
 <div class="container">
 	<div class="header-block d-flex justify-content-between">
 		<div class="logo-block">
 			<img [routerLink]="['/']" [src]="'../assets/sendibad-logo.svg'" width="210" class="site-logo home-logo">
 			<img [routerLink]="['/']" [src]="'../assets/senibad-logo-colored.png'" width="210" class="site-logo page-logo">
 		</div>
	
	 <ng-template #loggedIn>
 		<div class="menu-block">
	 		<div class="upper-block">
	 			<ul class="">
	 				<li class="menu-link">
	 					<a [routerLink]="['auth/login']">Login</a>
	 				</li>
	 				<li class="menu-link">
	 					<a [routerLink]="['auth/signup']" tooltip="Go Signup Page" placement="bottom">Signup</a>
	 				</li>
	 				<li class="social-link">
	 					<a [routerLink]="['auth/signup']"><img [src]="'../assets/facebook.svg'" width="15"></a>
	 				</li>
	 				<li class="social-link">
	 					<a [routerLink]="['auth/signup']"><img [src]="'../assets/instagram.svg'" width="15"></a>
	 				</li>
	 				<li class="social-link">
	 					<a [routerLink]="['auth/signup']"><img [src]="'../assets/linkedin.svg'" width="15"></a>
	 				</li>
	 				<li class="social-link">
	 					<a [routerLink]="['auth/signup']"><img [src]="'../assets/twitter.svg'" width="15"></a>
	 				</li>
	 				<li class="store-link">
	 					<a [routerLink]="['auth/signup']"><img [src]="'../assets/google-play.png'" ></a>
	 				</li>
	 				<li class="store-link">
	 					<a [routerLink]="['auth/signup']"><img [src]="'../assets/apple-store.png'" ></a>
	 				</li>
	 				<li class="lang-block">
	 					<a [routerLink]="['auth/signup']"><img [src]="'../assets/search-icon.svg'" width="20"></a>
	 				</li> 				
	 			</ul>
	 		</div>
	 		<div class="navigation">
	 			<ul>
	 				<li class="menu-link">
	 					<a [routerLink]="['']" class="" tooltip="Go Home Page" placement="bottom">Home</a>
	 				</li>
	 				<li class="menu-link">
	 					<a [routerLink]="['']" class="" tooltip="Go Home Page" placement="bottom">How it works</a>
	 				</li>
	 				<li class="menu-link">
	 					<a [routerLink]="['']" class="" tooltip="Go Home Page" placement="bottom">Travel tips</a>
	 				</li>
	 				<li class="menu-link">
	 					<a [routerLink]="['']" class="" tooltip="Go Home Page" placement="bottom">Faq</a>
	 				</li>
	 				<li class="menu-link">
	 					<a [routerLink]="['']" class="" tooltip="Go Home Page" placement="bottom">Support</a>
	 				</li> 				
	 				<li class="menu-link">
	 					<a [routerLink]="['']" ><img [src]="'../assets/search-icon.svg'" width="20"></a>
	 				</li> 				 				
	 			</ul>
			</div>
		</div>
	 </ng-template>
		<div *ngIf="authServe.isLoggedIn; else loggedIn" class="menu-block">
			<div class="upper-block">
				<ul class="">
					<li class="menu-link">
						<a [routerLink]="['auth/login']" (click)="logout($event)">Logout</a>
					</li>
					<li class="menu-link">
						<div dropdown class="user-info-dropdown">
						  	<a href id="basic-link" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">User Name</a>
				  			<ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="basic-link">
						      <li>
						        <a href="javascript:;" [routerLink]="['profile']" class="link">
						          <img src="https://image.flaticon.com/icons/svg/126/126486.svg" class="icon">
						            Profile Setting
						        </a>
						      </li>
						      <li>
						        <a href="javascript:;" [routerLink]="['packages']" class="link">
						          <img src="https://image.flaticon.com/icons/svg/45/45989.svg" class="icon">
						            My Packages 
						        </a>
						      </li>
						      <li>
						        <a href="javascript:;" [routerLink]="['my-trip']" class="link">
						          <img src="https://image.flaticon.com/icons/svg/67/67076.svg" class="icon">
						            My Trips 
						        </a>
						      </li>
						      <li>
						        <a href="javascript:;" class="link">
						          <img src="https://image.flaticon.com/icons/svg/25/25236.svg" class="icon">
						            My Messages 
						        </a>
						      </li>
						      <li>
						        <a href="javascript:;"  class="link">
						          <img src="https://image.flaticon.com/icons/svg/685/685822.svg" class="icon">
						            Customer Services  
						        </a>
						      </li>
						      <li>
						        <a href="javascript:;" class="link">
						          <img src="https://image.flaticon.com/icons/svg/152/152534.svg" class="icon">
						            Log Out  
						        </a>
						      </li>
					  		</ul>
						</div>								
					</li>
				</ul>
			</div>
		</div>
	</div>
 </div>
</div>