@import '../../../../theme-variable.scss';

.site-header{
	.header-block{
		padding: 10px 0;
	}
	.logo-block{
		cursor: pointer;
		.site-logo{
			width: 300px;
		}
	}
	.upper-block{
    border-bottom: 1px solid $color_white;
    padding: 10px 0;
    margin-bottom: 10px;
		ul li{
			display: inline-block;
		}
		.social-link{margin-right: 5px;}
		.social-link a{
	    display: inline-flex;
	    width: 32px;
	    height: 32px;
	    border-radius: 50%;
	    align-items: center;
	    justify-content: center;
	    box-shadow: 0 0 1px 2px #fff;
		}
		.store-link{
			margin-right: 10px;
		}
	}
	ul{
		list-style: none;
		padding: 0;
		margin-bottom: 0;
	}
	.user-info-dropdown{
		position: relative;
		.dropdown-menu{
			width: 205px;
			padding: 10px 0;
			li{
				width: 100%;
			}
			.link{
				position: relative;
				display: block;
				padding: 4px 10px 4px 35px;
				font-size: 13px;
			}
			.icon{
				max-width: 18px;
				position: absolute;
				left: 5px;
			}
		}
	}
}
.menu-link a{
	text-transform: $text_uppercase;
	font-weight: $font_weight_normal;
	padding-right: 25px;
	font-size: 15px;
}
.navigation{
	ul li{
		display: inline-block;
	}
}