<div class="auth-warp p-5 d-flex align-items-center justify-content-center" style="background-image: url(../assets/login-bg.png)">
  <div class="auth-block">
    <div class="row m-0">
      <div class="col-md-6 auth-image-block d-flex align-items-center justify-content-center">
        <img [src]="'../assets/login-img.png'" class="mw-100">
      </div>
      <div class="form-block col-md-6">
      <form (submit)="userLogin()">
        <div class="auth-link-block clearfix">
          <a href="javascript:;" class="link" [routerLink]="['../signup']">SIGNUP</a>
          <a href="javascript:;" class="link active"  [routerLink]="['../login']">LOGIN</a>
        </div>
        <h4>Hello User,</h4>
        <p>Welcome to the Sendibad Family,Please login with your personal information</p>
        <div class="row">
          <div class="col-md-12 input-block form-group">
            <label for="email">Email address</label>
            <input type="email" name="email" [(ngModel)]="userData.email" class="form-control form-input" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="col-md-12 input-block form-group">
            <label for="password">Password</label>
            <input type="password" name="password" [(ngModel)]="userData.password" class="form-control form-input" placeholder="Enter Your Password">
          </div>
        </div>
        <div class="pt-2"></div>
        <div class="btn-login text-center form-group">
          <button  type="submit" class="btn btn-submit">LOGIN</button>
        </div>
          <a href="javascript:;" [routerLink]="['../forgot-password']">Forgot Password</a>
        <div>
          <input type="checkbox"> Remember me
        </div>
      </form>
    </div>
    </div>
  </div>
</div>