@import '../../theme-variable.scss';
@import url('https://fonts.googleapis.com/css?family=Courgette');
.site-header{
    background-color: #000 !important;
}
.dashboard-container{
    padding: 0 15px;
}
@media(min-width: 1600px){
    .dashboard-container{
        max-width: 1600px;
        margin: 0 auto;
    }   
}
.dashboard {
    padding-top: 30px;
    // background: #efefef;
    background: $dashboradBg;
    .dashboard-Left-toggle {
        display: none;
    }
    .dashboard-right {
        background-color: #fff;
        min-height: 600px;
        padding: 15px;
        border-radius: 3px 3px 0px 0px;
        position: relative;
    }    
    .action-btn{
        height: 75px;
        background-color: #e3fffb;
        flex: 1;
        border: 1px solid #168073;
        margin: 0 90px;
        padding: 10px;
        display: flex;
        align-items: center;
        border-radius: 20px;
        position: relative;
        img{
            width: 70px;
        } 
        span{
            font-size: 28px;
            font-weight: 700;
            color: #168073;
            text-transform: uppercase;
            align-items: end;
            position: absolute;
            top: 5px;
            right: 115px;            
            font-family: 'Courgette', cursive;
        }
        .font{
            position: relative;
            font-weight: 600;
            font-size: 14px;
            top: 17px;
            left: 20px;
            color: #566967;
        }
    }
}
