<div class="dashboard pb-5">
  <div class="dashboard-container">
    <div class="row">
      <div class="col-md-3 col-sm-3 dashboard-Left-warp">
        <div>
          <app-dashboard-sidebar></app-dashboard-sidebar>
        </div>
      </div>
      <div class="col-md-9 col-sm-9">
        <div class="mb-2 card d-flex p-2 flex-row" style="background-image: url('https://cdn.dribbble.com/users/542205/screenshots/3391299/comunication_icons.jpg');background-size: contain; ">
          <div class="action-btn"> 
            <img [src]="'../assets/plan-trip.png'"  class="">
            <span>Add Trip</span>
            <font class="font">Plan your trip with route details</font>
          </div>
          <div class="action-btn"> 
            <img [src]="'../assets/plan-trip.png'"  class="">
            <span>Add Parcel</span>
            <font class="font">Add you parcel details</font>
          </div>
        </div>
        <div class="dashboard-right">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>