@import '../../../theme-variable.scss';
.auth-warp{
    min-height: 800px;
    background-color: #eee;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom; 
    .auth-block{
        max-width: 1000px;
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 0 0 3px #999;
        .form-block{
            background-color: #f3fbfe;
            padding: 50px;    
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;               
            border-left: 1px solid #ddd;
            .auth-link-block{
                margin-bottom: 40px;
                .link{
                    color: #888;
                    display: block;
                    width: 50%;
                    float: left;
                    text-align: center;
                    font-size: 21px;
                    font-weight: 600;
                    border-bottom: 2px solid #ccc;
                    padding-bottom: 10px;                    
                }
                .link.active{
                    color: $orange_color;
                }                    
            }
        }
    }
}
.input-block{
    .form-input{
        height: 45px;
    }
}
.btn-submit{
    background-color: $theme_color;
    width: 230px;
    padding: 10px;
    color: #fff;
    font-weight: $font_weight_ext_bold;
}