<div class="auth-warp p-5 d-flex align-items-center justify-content-center" style="background-image: url(../assets/login-bg.png)">
  <div class="auth-block">
    <div class="row m-0">
      <div class="col-md-6 auth-image-block d-flex align-items-center justify-content-center">
        <img [src]="'../assets/login-img.png'" class="mw-100">
      </div>
    <div class="form-block col-md-6">
    <form (submit)="userSignup()" #registerForm="ngForm" novalidate>
      <div class="auth-link-block clearfix">
        <a href="javascript:;" class="link active" [routerLink]="['../signup']">SIGNUP</a>
        <a href="javascript:;" class="link"  [routerLink]="['../login']">LOGIN</a>
      </div>
      <h4>Hello User,</h4>
      <p>Welcome to the Sendibad Family,Please login with your personal information</p>      
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label for="First Name">Your Name</label>
            <input type="text" name="First Name" [(ngModel)]="userData.first_name" class="form-control" placeholder="First name" #firstName="ngModel" required />
            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="text-danger">
              <div *ngIf="firstName.errors && firstName.errors.required">First Name is required</div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="Last Name">Your Last Name</label>
            <input type="text" name="Last Name" [(ngModel)]="userData.last_name" class="form-control" placeholder="Last name" #lastName="ngModel" required />
            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="text-danger">
              <div *ngIf="lastName.errors && lastName.errors.required">Last Name is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
        <label for="Email">Email address</label>
        <input type="email" name="Email" [(ngModel)]="userData.email" class="form-control" id="" placeholder="name@example.com" #emailId="ngModel" required />
        <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)" class="text-danger">
          <div *ngIf="emailId.errors && emailId.errors.required">Email Id is required</div>
        </div>
      </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label for="">Password</label>
            <input type="password" name="Password" [(ngModel)]="userData.password" class="form-control" placeholder="Enter Your Password" #password="ngModel" required />
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
              <div *ngIf="password.errors && password.errors.required">Password is required</div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="Confirm Password">Confirm Password</label>
            <input type="password" name="confpassword" [(ngModel)]="userData.confirm_password" class="form-control" placeholder="Reenter Your Password" #confPassword="ngModel" required/>
            <div *ngIf="confPassword.invalid && (confPassword.dirty || confPassword.touched)" class="text-danger">
              <div *ngIf="confPassword.errors && confPassword.errors.required">Confirm Password is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-signup text-center">
        <button type="submit" class="btn btn-submit" [disabled]="registerForm.invalid">SIGNUP</button>
      </div>
    </form>
  </div>
    </div>
  </div>
</div>