.form-background{
    margin: 200px;
}
.login-background{
    background-color: antiquewhite;
    font-family:Georgia, 'Times New Roman', Times, serif;
    float: right;
}
.heading-login{
    text-align: center;
    margin-left: 5px;
}
.login-detail-background{
    background-color:rgba(66, 66, 66, 0.803);
    color: aliceblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.login-background form{
    padding-top: 20px;
}
.login-background h2{
    text-align: center;
    color:rgba(66, 66, 66, 0.803);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.login-detail-background h2{
    text-align: center;
    color: rgb(110, 187, 187);
    font-weight: bold;
    margin-top: 20px;
}
.login-detail-background ul{
    font-size: 20px;
}
.login-background .btn-login button{
    margin-left: 30px;
    background-color: rgb(61, 104, 145);
    color:#fff;
    padding: 10px;
    text-align: center;
    float: right;
}
.login-background .btn-login button:hover{
    margin-left: 30px;
    background-color:rgba(54, 114, 50, 0.822);
    color:#fff;
    padding: 10px;
    text-align: center;
}
.form-control{
    color: #8E8D8D;
    font-size: 15px;
    border: 0;
    border-bottom: 1px solid rgba(3, 166, 237, 0.55);
    border-radius: 0;
    box-shadow: none;
}