<div class="row form-background">
  <div class="col-md-6 login-detail-background">
    <h2>RESET PASSWORD DETAILS</h2>
    <ul>
      <li>You can set your new password for your respected email address</li>
      <br>
      <li>For changing new password you have to enter new password and confirm your password</li>
      <br>
      <li>After chnaging your password you can login your account with your new password</li>
    </ul>
  </div>
  <div class="login-background col-md-4">
    <form (submit)="resetPassword()">
      <h2>
        <div>
          RESET PASSWORD
        </div>
      </h2>
      <div class="col-md-10">
        <h4>Hello User,</h4>
        <p>Welcome to the Sendibad Family,Please enter your new pawword for your respected email address</p>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-5">
          <label for="password">New Password</label>
          <input type="password" name="new password" [(ngModel)]="userData.password" class="form-control" placeholder="Enter Your Password">
        </div>
        <div class="col-md-5">
          <label for="password">Confirm Password</label>
          <input type="password" name="confirm password" [(ngModel)]="userData.confirm_password" class="form-control" placeholder="Enter Your Password">
        </div>
      </div>
      <br>
      <div class="row btn-login">
        <button  type="submit" class="btn">CHANGE PASSWORD</button>
      </div>
    </form>
  </div>
</div>