<section class="footer-section pt-3">
		<div class="container d-flex">
			<div class="col">
				<div class="contact-block">
					<div class="icon">
						<img [src]="'../assets/locator-pin.png'" alt="locator-pin.png" >
					</div>
					<div class="content">
						54B, Tailstoi Town 5238 MT, <br>
						La city, IA 522364
					</div>
				</div>
			</div>
			<div class="col">
				<div class="contact-block">
					<div class="icon">
						<img [src]="'../assets/envlope-icon.png'" alt="envlope-icon.png" >
					</div>
					<div class="content">
						54B, Tailstoi Town 5238 MT, <br>
						La city, IA 522364
					</div>
				</div>
			</div>
			<div class="col">
				<div class="contact-block">
					<div class="icon">
						<img [src]="'../assets/phone-icon.png'" alt="mobile-app-img.png" >
					</div>
					<div class="content">
						54B, Tailstoi Town 5238 MT, <br>
						La city, IA 522364
					</div>
				</div>
			</div>						
		</div>

		<div class="pb-5"></div>
		<div class="container row">
			<div class="col-md-4">
				<div class="footer-block">
					<div>
						<a href="#"><img [src]="'../assets/senibad-logo-colored.png'" alt="senibad-logo-colored.png" ></a>
					</div>
					<div class="pt-3"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
					<div class="">
							<div class="app-btn-block d-inline-flex">
								<div class="col pl-0">
									<a href="#">
										<img [src]="'../assets/google-play-large.png'" alt="google-play-large.png" >
									</a>
								</div>
								<div class="col pl-0">
									<a href="#">
										<img [src]="'../assets/apple-store-large.png'" alt="apple-store-large.png" >
									</a>						
								</div>
							</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
			<div class="col-md-4">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>				
		</div>
</section>
