@import '../../../../theme-variable.scss';
.footer-section{
	.contact-block{
		position: relative;
		padding: 15px;
		padding-left: 90px;
		border:1px dashed #ccc; 
		display: flex;
   	align-items: center;
		.icon{
			position: absolute;
			width: 30px;
			left: 25px;
		}
	}
}