@import '../../../theme-variable.scss';
.btn-add-post{
    background-color: #ef4d24;
    color: #fff;
    min-width: 200px;
    border-radius: 25px;
    font-weight: 600;
    border: 1px solid #fb967c;
    box-shadow: 0px 2px 2px #6d6d6d;
}
.dashboard-Left {
    min-height: 600px;
    background-color: #fff;
    border-radius: 3px 3px 0px 0px;
    margin-bottom: 50px;
    border-radius: 15px;
}
.text-center {
    text-align: center !important;
}
.account-logo {
    background-color: rgba(247, 247, 247, 0.45);
    border-radius: 5px 5px 0px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e3e3;
    background-blend-mode: overlay;
}
.dashboard-Left .image-block {
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
    background: linear-gradient(to bottom, rgba(73,198,202,1) 0%,rgba(85,121,177,1) 100%);
}
.dashboard-Left .image-block img {
    margin: 0 auto;
    width: 75px;
    height: 100%;
    border-radius: 50%;
}
.img-responsive{
    display: block;
    max-width: 100%;
}
.user-name {
    font-size: 18px;
    padding-bottom: 5px;
    text-transform: capitalize;
}
.dashboard-Left .menu {
    height: 600px;
    position: relative;
}
.dashboard-Left .menu:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 12px 0 12px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    top: 0;
    left: 50%;
}
.dashboard-Left .menu ul {
    list-style: none;
    padding: 10px 15px;
}
.dashboard-Left .menu ul li {
    border-bottom: 1px dashed rgba(255, 253, 253, 0.54);
}
.dashboard-Left .menu ul li a {
    color: rgb(117, 140, 150);
    display: block;
    padding: 9px 5px 9px 40px;
    border-bottom: 1px solid #e6e3e3;
    font-size: 16px;
    position: relative;
    z-index: 1;
    transition: all .5s ease;
    border-left: 2px solid transparent;
}
.dashboard-Left .menu ul li a:hover {
    color:black;
    display: block;
    padding: 9px 5px 9px 40px;
    border-bottom: 1px solid #e6e3e3;
    font-size: 16px;
    position: relative;
    z-index: 1;
    transition: all .5s ease;
    border-left: 2px solid transparent;
}
.dashboard-Left .menu ul li a .fa {
    position: absolute;
    left: 0px;
    top: 10px;
    transition: all .5s ease;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    width: 23px;
}

.add-post-block{
    background-color: #e6f3f1;
    position: absolute;
    bottom: 0px;
    padding: 50px 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: -22px 100%;
}
.user-info-block{
    flex-flow: row;
    .user-detail{
        background-color: #e5f1ef;
        height: 75px;
        border-radius: 4px;
        position: relative;
        margin-left: 19px;
        position: relative;
        flex: 1;
    }
    .user-icon{
        height: 75px;
        border-radius: 4px;
        box-shadow: 0 0 4px #6db7ae;
        background: #86b3ae;
        padding: 10px;
        flex: 0 0 75px;
        position: relative;
        img{
            width: 55px;
        }
        :before{
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 12px 0 9px 15px;
            border-color: transparent transparent transparent #86b3ae;
            position: absolute;
            right: -15px;
            top: 50%;
            transform: translateY(-50%);
        }        
    }

}