<div class="user-info-block p-2 mb-2 card d-flex">
  <div class="user-icon">
    <span class=""><img [src]="'../assets/user-icon.svg'" width="20" class=""></span>
  </div>
  <div class="user-detail">
    
  </div>
</div>
<div class="dashboard-Left">
  <div class="menu">
    <ul class="pt-4 pb-4">
      <li>
        <a href="javascript:;" [routerLink]="['packages']">
          <img src="https://image.flaticon.com/icons/svg/45/45989.svg" class="fa">
            My Packages 
        </a>
      </li>
      <li>
        <a href="javascript:;" [routerLink]="['my-trip']">
          <img src="https://image.flaticon.com/icons/svg/67/67076.svg" class="fa">
            My Trips 
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="https://image.flaticon.com/icons/svg/25/25236.svg" class="fa">
            My Messages 
        </a>
      </li>
      <li>
        <a href="javascript:;" >
          <img src="https://image.flaticon.com/icons/svg/685/685822.svg" class="fa">
            Customer Services  
        </a>
      </li>
      <li>
        <a href="javascript:;" [routerLink]="['profile']">
          <img src="https://image.flaticon.com/icons/svg/126/126486.svg" class="fa">
            Profile Setting
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="https://image.flaticon.com/icons/svg/152/152534.svg" class="fa">
            Log Out  
        </a>
      </li>
    </ul>
      <div class="add-post-block text-center" style="background-image: url('../assets/7-wonder.png');">
        <a [routerLink]="['../blogs']" class="btn btn-lg btn-add-post"><img [src]="'../assets/add-plus-white.svg'" width="20"> Add Post</a>
        <p class="pt-3">Share Your Travel Experience</p>
      </div>    
  </div>
</div>