<div class="row form-background">
  <div class="col-md-5 login-detail-background">
    <h2>FORGOT PASSWORD DETAILS</h2>
    <ul>
      <li>Have you forgotten your password don't worry  we are their to help you</li>
      <br>
      <li>You have to enter your registered email address for varrification</li>
      <br>
      <li>You will get an link for verifing your email address from which you can reset your password</li>
    </ul>
  </div>
  <div class="login-background col-md-3">
    <form (submit)="forgotPassword()">
      <h2>
        <div>
          FORGOT PASSWORD
        </div>
      </h2>
      <br>
      <br>
      <div class="col-md-10">
        <h4>Hello User,</h4>
        <p>Enter Your Registered email address for which you want to reset your password</p>
      </div>
      <br>
      <div class="col-md-10">
        <label for="email">Email address</label>
        <input type="email" name="email" [(ngModel)]="userData.email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <br>
      <div class="row btn-login">
        <button  type="submit" class="btn">Submit</button>
      </div>
      <a href="javascript:;" [routerLink]="['../login']">Back To Login</a>
    </form>
  </div>
</div>