.blog-background{
    background-color:#fff;
    height:auto;
    width: auto;
}
.blog-heading{
    color: rgb(68, 111, 175);
    padding-top:0px;     
    text-align: center;
    font-weight: bolder;
}
.blog-contain{
    background-color: aliceblue;
    height: auto;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.blog-contain form{
    padding-left: 20px;
}
.form-control{
    color: #8E8D8D;
    font-size: 15px;
    border: 0;
    border-bottom: 1px solid rgba(3, 166, 237, 0.55);
    border-radius: 0;
    box-shadow: none;
    padding-bottom: 10px;
}
.picUploadContent {
    background: #fff;
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px dashed #ccc;
    float: none;
}
.my-drop-zone {
    background: #f0f2f4;
    font-size: 15px;
    color: #a6b6c2;
    position: relative;
    padding: 10px;
}
.my-drop-zone .icon {
    font-size: 50px;
    display: block;
    color: #a6b6c2;
    margin-bottom: 25px;
    padding-top: 5px;
}
 .my-drop-zone .shadow {
    content: "";
    display: inline-block;
    width: 40px;
    height: 10px;
    background-color: rgba(166, 182, 194, 0.27);
    top: 70px;
    box-shadow: 1px 2px 20px #ccc;
    border-radius: 50%;
    position: absolute;
}
.my-drop-zone .text {
    font-size: 28px;
    color: #677683;
    font-weight: 600;
}
.my-drop-zone input {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: transparent;
    border: 0px;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
}
input[type="file"] {
    display: block;
}
.picUploadContent .leftSide {
    font-size: 16px;
    line-height: 28px;
    color: #6f8a8c;
}
.featured-image{
    width: 100%;
    height:200px;
 }
 .blog-image{
     width:200px;
     height:100%;
 }