  <div class="blog-background">
    <div class="blog-heading">
      <h1>SHARE YOUR TRAVEL EXPERIENCE</h1>
    </div>
    <div class="blog-contain">
      <form (submit)="addBlog()">
        <div class="form-group">
          <div class="row">
            <div class="form-group col-md-5">
              <label for="Category">Choose Category</label>
            </div>
            <div class="form-group col-md-5">
              <select name="Category" [(ngModel)]="blogData.blog_category" class="form-control" required>
                <option value="">Select Any Category</option>
                <option *ngFor="let Category of categoriesData" [value]="Category.id">{{Category.category_name}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-5">
              <label for="Email">Add Title</label>
            </div>
            <div class="form-group col-md-5">
              <input type="title" name="Title" [(ngModel)]="blogData.blog_title" class="form-control" id="" placeholder="What's Your Post Title" required />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-5">
              <label for="Content">Your Experience Details</label>
            </div>
            <div class="form-group col-md-5">
              <ck-editor name="editor1"  [(ngModel)]="editorValue" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-5">
              <label for="Tags">Add Tags</label>
            </div>
            <div class="form-group col-md-5">
              <tag-input  [(ngModel)]="items" name="tags" [editable]='true' aria-required="true"></tag-input>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-5">
              <label for="Email">Summurize Your containt</label>
            </div>
            <div class="form-group col-md-5">
              <textarea  [(ngModel)]="blogData.blog_small_content" name="containt" cols="30" rows="2" class="form-control" required></textarea>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-5">
              <label for="Email">Add Image</label>
            </div>
            <div class="form-group col-md-5 picUploadContent">
              <div class="my-drop-zone" nv-file-drop uploader="uploader">
                <span class="icon">
                  <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                </span>
                <span class="shadow"></span>
                <span class="text">Click to add file or Drag here</span>
                <input type="file" nv-file-select uploader="uploader" multiple (change)="uploadFile($event)">
                <div class="leftSide">
                  <ul>
                    <li>
                      Please share Your 
                      <font>Travelling Pics</font>
                      For Enhancing your Experience With Viewers
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="displayImage">
            <div class="form-group col-md-5">
              <label for="Email"></label>
            </div>
            <div class="form-group col-md-5">
              <div class="featured-image">
                <img [src]="url" class="blog-image" aria-required="true">
              </div>
            </div>
          </div>
          <div class="form-group col-md-10">
            <button type="submit" class="post-btn">POST</button>
          </div>
        </div>
      </form>
    </div>
  </div>
