.profile-backround{
    background-color: aquamarine;
}
.profile-heading{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color:sandybrown;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.profile-data{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
}
.form-control{
    color: rgb(20, 20, 20);
    font-size: 25px;
    border: 0;
    border-bottom: 1px solid rgba(3, 166, 237, 0.55);
    border-radius: 0;
    box-shadow: none;
    padding-bottom: 10px;
}
.text-center{
    vertical-align: center;
}