<div class="profile-background">
    <div class="profile-heading">
        <h1>PROFILE SETTING</h1>
    </div>
    <div class="profile-data">
        <form (submit)="updateProfileData()">
            <div class="row text-center">
                <div class="form-group col-md-2 sm-5">
                    <label for="First Name">First Name:</label>
                </div>
                <div class="form-group col-md-3 sm-5">
                    <input name="First Name" [(ngModel)]="userData.first_name" type="text" class="form-control">
                </div>
            </div>
            <div class="row text-center">
                <div class="form-group col-md-2 sm-5">
                    <label for="First Name">Last Name:</label>
                </div>
                <div class="form-group col-md-3 sm-5">
                    <input name="Last Name" [(ngModel)]="userData.last_name" type="text" class="form-control">
                </div>
            </div>
            <div class="row text-center">
                <div class="form-group col-md-2 sm-5">
                    <label for="First Name">Your Email:</label>
                </div>
                <div class="form-group col-md-3 sm-5">
                    <input name="Email" [(ngModel)]="userData.email" type="email" class="form-control">
                </div>
            </div>
            <div class="row text-center">
                <div class="form-group col-md-2 sm-5">
                    <label for="First Name">Select Country:</label>
                </div>
                <div class="form-group col-md-3 sm-5">
                   <select name="Country" class="form-control" [(ngModel)]="userData.country" (change)="updatePhoneCode()">
                       <option *ngFor="let country of allCountryCode" [value]="country.code">{{country.name}}</option>
                   </select>
                </div>
            </div>
            <div class="row text-center">
                <div class="form-group col-md-2 sm-5">
                    <label for="Mobile">Mobile:</label>
                </div>
                <div class="form-group col-md-3 sm-5">
                    <input type="text" name="mobile" [(ngModel)]="userData.mobile" class="form-control" [value]="phoneCode ">
                </div>
            </div>
            <div class="row text-center">
                <div class="form-group col-md-2 sm-5">
                    <label for="First Name">Select Document Type:</label>
                </div>
                <div class="form-group col-md-3 sm-5">
                    <select name="Country" name="Document" [(ngModel)]="userData.id_doc_type" class="form-control">
                        <option *ngFor="let docDetails of documentTypeData" [value]="docDetails.id">{{docDetails.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row text-center">
                <div class="form-group col-md-2 sm-5">
                    <label for="First Name">Your Document Number</label>
                </div>
                <div class="form-group col-md-3 sm-5">
                    <input name="ID number" [(ngModel)]="userData.id_number" type="text" class="form-control">
                </div>
            </div>
            <div class="row text-center">
                <div class="form-group col-md-2 sm-5">
                    <label for="First Name">Your Document Expiry Date</label>
                </div>
                <div class="form-group col-md-3 sm-5">
                    <input class="form-control" name="Expiry Date" [(ngModel)]="userData.expiry_date" placeholder="Datepicker" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
                </div>
            </div>
            <div class="row text-center">
                <div class="form-group col-md-2 sm-5">
                    <label></label>
                </div>
                <div class="form-group col-md-3 sm-5">
                    <button type="submit">Update Profile</button>
                </div>
            </div>
        </form>
    </div>
</div>