@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import 'theme-variable.scss';
@font-face {
    font-family: CircularStd-Bold;
    src: url('assets/fonts/CircularStd-Bold.woff');
}

/*PREDEFINED CLASSES*/
.h-100{height: 100%;}

/*PREDEFINED CLASSES END*/
body {
  font-family: 'Montserrat';
  color: #000;
  margin: 0;
  font {
    size: $orange_color;
  }
}
.site-header{
	top: 0 !important;
	z-index: 1 !important;
	width: 100% !important;
	background-color: #fff;
}
.home-header.site-header{
	background-color: transparent;
	position: fixed !important;
}
.menu-link a{color: #000;}
.home-header .menu-link a{color: #fff;}
.home-logo{display: none;}
.home-header .home-logo{display: block;}
.home-header .page-logo{display: none;}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
.color-orange{color: $orange_color;}
.theme-header{
	h3{
		font-family: CircularStd-Bold;
		padding: 60px 0px 30px;
		font-size: 44px;
		display: inline-block;
		position: relative;
	}
	.logo-icon{
    position: absolute;
    top: 0;
    left: 10px;
    img {
    	width: 62px;
		}
	}

}