/*Theme predefined colors*/
$theme_color: #217f73;
$orange_color: #fd3625;
$dashboradBg: #c7dcd9;
/*Text style*/
$color_white: #fff;
$color_black: #000;
$font_size: 15px;
$font_weight_normal: 500;
$font_weight_bold: 600;
$font_weight_ext_bold: 700;
$font_weight_bolder: 800;
$CircularStd-Bold : 'CircularStd-Bold';
$text_uppercase: uppercase;
$text_capitalize: capitalize;

/*Float*/
$left: left;
$right: right;

/*flex variable*/