<section class="carousel-section">
<carousel #upperSlider>
  <slide>
    <div class="home-slide text-white" style="background-image: url('../assets/slide-1.jpg');">
    	<div class="slide-content container">
	      <h2>First custom content</h2>
	      <div class="lead">
	        <h3>First slide label</h3>
	        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
	      </div>
      </div>
    </div>
  </slide>
  <slide>
    <div class="home-slide text-white" style="background-image: url('../assets/slide-2.jpg');">
    	<div class="slide-content container">
	      <h2>Second custom content</h2>
	      <div class="lead">
	        <h3>Second slide label</h3>
	        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
	      </div>
      </div>
    </div>
  </slide>
  <slide>
    <div class="home-slide text-white" style="background-image: url('../assets/slide-3.jpg');">
    	<div class="slide-content container">
	      <h2>Third custom content</h2>
	      <div class="lead">
	        <h3>Third slide label</h3>
	        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
	      </div>
      </div>
    </div>
  </slide>
</carousel>
</section>

<!--HOW IT WORKS SECTION-->
<section class="how-it-work container">
		<div class="pt-5"></div>
		<div class="theme-header text-center">
			<h3 class="text-uppercase">
				<span class="logo-icon"><img [src]="'../assets/sendibad-icon.svg'"></span>
				<font class="color-orange">How</font> It Works
			</h3>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="tile">
					<div class="img-block text-center"><img [src]="'../assets/how-it-works.png'" ></div>
					<div class="content-block text-center">
						<h4>Free Travel Guide</h4>
						<p class="">
							Lorem ipsum dolor sit amet<br>adipisicing 
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="tile">
					<div class="img-block text-center"><img [src]="'../assets/how-it-works.png'" ></div>
					<div class="content-block text-center">
						<h4>Free Travel Guide</h4>
						<p class="">
							Lorem ipsum dolor sit amet<br>adipisicing 
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="tile">
					<div class="img-block text-center"><img [src]="'../assets/how-it-works.png'" ></div>
					<div class="content-block text-center">
						<h4>Free Travel Guide</h4>
						<p class="">
							Lorem ipsum dolor sit amet<br>adipisicing 
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="tile">
					<div class="img-block text-center"><img [src]="'../assets/how-it-works.png'" ></div>
					<div class="content-block text-center">
						<h4>Free Travel Guide</h4>
						<p class="">
							Lorem ipsum dolor sit amet<br>adipisicing 
						</p>
					</div>
				</div>
			</div>
		</div>
</section>

<!--TRAVEL TIPS-->
<div class="pt-5"></div>
<section class="travel-tip-section container">
	<div class="theme-header text-left">
		<h3 class="text-uppercase">
			<span class="logo-icon"><img [src]="'../assets/sendibad-icon.svg'"></span>
			<font class="color-orange">Traveling </font> Tips
		</h3>
	</div>

	<div class="travel-slider">
		<carousel #lowerSlider>
		  <slide>
		    <div class="travel-slide">
		    		<div class="travel-slide-img">
		    			<img [src]="'../assets/travel-tip-1.jpg'" alt="first slide" >
		    		</div>
		    		<div class="content position-absolute">
		    			<a href="#"><h4 class="title">Best Place to visit in Summer 2018</h4></a>
		    			<div class="place">AIR CARGO, TRUCKING</div>
		    		</div>
		    </div>
		    <div class="travel-slide">
		    		<div class="travel-slide-img">
		    			<img [src]="'../assets/travel-tip-1.jpg'" alt="first slide" >7509434387
		    		</div>
		    		<div class="content position-absolute">
		    			<a href="#"><h4 class="title">Best Place to visit in Summer 2018</h4></a>
		    			<div class="place">AIR CARGO, TRUCKING</div>
		    		</div>
		    </div>
		    <div class="travel-slide">
		    		<div class="travel-slide-img">
		    			<img [src]="'../assets/travel-tip-1.jpg'" alt="first slide" >
		    		</div>
		    		<div class="content position-absolute">
		    			<a href="#"><h4 class="title">Best Place to visit in Summer 2018</h4></a>
		    			<div class="place">AIR CARGO, TRUCKING</div>
		    		</div>
		    </div>
		  </slide>
		  
		</carousel>
		<ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
			<div ngxSlickItem *ngFor="let slide of slides" class="slide">
				<img src="{{ slide.img }}" alt="" width="auto">
			</div>
		</ngx-slick>

	<button (click)="addSlide()">Add</button>
	<button (click)="removeSlide()">Remove</button>
	<button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
	<button (click)="slickModal.unslick()">unslick</button>
	</div>

</section>

<!--ABOUT US-->
<section class="about-us" style="background-image: url('../assets/about-us-bg.jpg')">
	<div class="container">
		<div class="d-flex">
		<div class="about-left">
				<div class="theme-header text-left">
					<h3 class="text-uppercase">
						<span class="logo-icon"><img [src]="'../assets/sendibad-icon.svg'"></span>
						<font class="color-orange">About</font> Us
					</h3>
				</div>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				</p>
		</div>
		<div class="about-right">
			<img [src]="'../assets/about-video.png'" alt="about-video.png" >
		</div>
	</div>
	</div>
</section>

<!--MOBILE APP-->
<section class="mobile-app-section">
	<div class="pt-5 pb-5"></div>
	<div class="pb-5"></div>
	<div class="d-flex container">
		<div class="col">
				<div class="theme-header text-left">
					<h3 class="text-uppercase">
						<span class="logo-icon"><img [src]="'../assets/sendibad-icon.svg'"></span>
						<font class="color-orange">Download</font> App
					</h3>
				</div>		
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				</p>
				<div class="app-btn-block d-inline-flex">
					<div class="col pl-0">
						<a href="#">
							<img [src]="'../assets/google-play-large.png'" alt="google-play-large.png" >
						</a>
					</div>
					<div class="col pl-0">
						<a href="#">
							<img [src]="'../assets/apple-store-large.png'" alt="apple-store-large.png" >
						</a>						
					</div>
				</div>				
		</div>
		<div class="col justify-content-end d-flex">
			<img [src]="'../assets/mobile-app-img.png'" alt="mobile-app-img.png" >
		</div>
	</div>
</section>

<!--GET IN TOUCH-->
<section class="get-touch-section" style="background-image: url('../assets/get-in-touch-bg.jpg');">
	<div class="d-flex container h-100 get-touch-inner">
		<div class="col justify-content-center d-flex flex-column">
			<div class="theme-header text-left">
				<h3 class="text-uppercase">
					<span class="logo-icon"><img [src]="'../assets/sendibad-icon.svg'"></span>
					<font class="color-orange">Download</font> App
				</h3>
			</div>		
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			</p>
	</div>
		<div class="col justify-content-end d-flex">
			<div class="contact-block">
				<div class="contact-form">
						<form>
							  <div class="form-group">
							    <input type="email" class="form-control form-lg" id="exampleInputEmail1" placeholder="FIRST NAME">
							  </div>
							  <div class="form-group">
							    <input type="email" class="form-control form-lg" id="exampleInputEmail1" placeholder="EMAIL ADDRESS">
							  </div>
							  <div class="form-group">
							    <input type="email" class="form-control form-lg" id="exampleInputEmail1" placeholder="CONTACT NUMBER">
							  </div>							  							  
							  <div class="form-group">
							    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="MESSAGE"></textarea>
							  </div>
							  <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
						</form>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="pt-5 pb-5"></div>
<div class="pb-5"></div>
