@import '../../theme-variable.scss';

/*Update to header only for home page*/

.carousel-section{
	.home-slide{
		background: #ddd;
		background-size: cover;
		background-repeat: no-repeat;
		// display: flex;
		// justify-content:center;
		.slide-content{
	    position: absolute;
	    width: 100%;
	    max-width: 1200px;
	    margin: 0 auto;
	    transform: translate(-50%,-50%);
	    top: 50%;
	    left: 50%;			
		}
	}
	.home-slide:after{
		content: "";
		display: block;
		padding-bottom: 800px;
		width: 100%;
	}
}
.how-it-work{
	color: #000;
	.img-block {
		padding-bottom: 20px;
	}
}
.travel-slider{
	.travel-slide{
		width: 30.33%;
		float: left;
		padding: 20px;
		position: relative;
		img{
			max-width: 100%;
		}
		a{
			color: #fff;
			text-decoration: none;
			h4{
				font-size: 18px;
			}
		}
		.content{ 
			padding: 10px;
	    top: 20px;
	    left: 20px;
	    width: calc(100% - 40px);
	    height: calc(100% - 40px);
	    display: flex;
	    flex-flow: column;
	    justify-content: flex-end;
	    text-align: left;
	    .place {
    		color: #fff;
    		font-size: 12px;
			}
		}
		.travel-slide-img{
			position: relative;
		}
		.travel-slide-img:after{
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0px;
			left: 0px;
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 110%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );				
		}
	}
}

.about-us{
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 510px;
	color: #fff;
	.about-left {
    justify-content: center;
    display: flex;
    flex-flow: column;
	}
	.about-right{
		position: relative;
		top: 100px;
	} 
}

.get-touch-section{
	min-height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff; 
	.get-touch-inner{
		min-height: 400px;
	}
	.contact-block{
		background: #fff;
		width: 380px;
		padding: 25px;
		position: relative;
		top: 70px;
		box-shadow: 0 0 8px 0px #ccc;
	}
	.form-lg{
		height: 50px;
	}
}